<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include css_bt.ejs%>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Lab5_Thucdvph17759</p>
    <% include nav.ejs%>
  </body>
</html>
